 <div class="container">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/Newtoc0de"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/clothilde-drouet"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Ce site a été codé avec <i class="fas fa-heart"></i> par Clothilde Drouet
    </div>
  </div>
 </div>
