<div class="container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <div class="div">
            <li class="nav-item">
                <%= link_to "Localisation", anchor:"top", class: "nav-link"%>
            </li>
          </div>
              <li class="nav-item">
                <%= link_to "Contact", class: "nav-link", anchor: "end" %>
              </li>
            </ul>
      </div>
    </div>
</div>
