.custom-rounded {
  border-radius: 10px;
  &::-webkit-input-placeholder { /* Pour Chrome/Opera/Safari */
    color: #999; /* Couleur de la typo du placeholder */
  }
}

#form-control-color{
  background-color: pink;
  font-weight: 200;
}
