<div class="container">
  <% if @lists.present? %>
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title"><%= list.title %></h5>
              <!-- Ajouter l'icône "poubelle" avec un lien pour supprimer la liste -->
              <%= link_to "Destroy", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% else %>
    <%= render "shared/form" %>
  <% end %>
</div>
