<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    .email-container {
  font-family: $headers-font;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}

.label-input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* Espacement entre les étiquettes et les champs d'entrée */
}


.custom-input {
  border: none;
  padding: 5px;
  width: 100%;
  /* Autres styles de votre choix */
}

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
